html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

blockquote {
    font-size: 1.2em;
    line-height: 1.6em;
    margin: 1.5em 2em 1.5em;
    color: #505050;
    font-style: italic;
    position: relative;

    &::before {
	    font-family: $font-awesome;
	    content: "\f10d";
	    position: absolute;
	    left: -2em;
	    color: #d0d0d0;
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	display: block;
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}


@import "tables";