.page-about{
	#about-main{
		@include clearfix();
		position: relative;
		padding: 3em 5% 0;

		.row{
			@include clearfix();
			@include container(1000px);
			
			#text-main{
				@include span(12 of 12 0);
				@media screen and (min-width: $mobile-width){ @include span(4 of 10 0); }
				h1{ font-size: 4em; letter-spacing: -3px; margin: 0 0 0.2em; padding: 0; line-height: 1.2em; }
				p{ margin: 0 0 1em; padding: 0; }
				.intro{
					font-size: 1.2em;
					line-height: 1.35em;
					margin: 0 0 1em;
					padding: 0;
					color: $gray2;
				}
			}
			#img-main{
				@include span(12 of 12 0);
				@media screen and (min-width: $mobile-width){ @include span(6 of 10 0); }
			}
		} //.row
	} //#about-main

	#about-site{
		@include clearfix();
		position: relative;
		padding: 3em 5%;
		background-color: #fafafa;
		box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
		border-bottom: #dddddd solid 1px;

		.row{
			@include clearfix();
			@include container(1000px);

			#title-site{
				@include span(12);
				font-size: 2em;
				margin: 0 0 0.5em;
				@media screen and (min-width: $mobile-width){ @include span(4.8 last); }
			}

			#text-site{
				@include span(12);
				color: $gray3;
				@media screen and (min-width: $mobile-width){ @include span(4.8 last); }
				p { margin: 0 0 1em; }
			}

			#icon-site{
				@include span(12 split);
				margin: 0;
				padding: 0;
				list-style: none;
				overflow: auto;

				@media screen and (min-width: $mobile-width){ @include span(7.2 no-gutters); }

				li{
					@include span(4 of 12 0);
					@media screen and (min-width: $tablet-width){ @include span(3 of 12 0); }
					margin-bottom: 1em;

					.icon{
						display: block;
						margin: 0 auto 0.5em;

						@include about-icons(300px, 375px);
						@media screen and (min-width: $tablet-width){ @include about-icons(400px, 500px); }
					} //icon

					p{
						margin: 0;
						text-align: center;
					}
				}
			}
		} //.row
	} //#about-site

	#about-programs{
		@include clearfix();
		position: relative;
		padding: 3em 5%;
		box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
		border-bottom: #dddddd solid 1px;

		.row{
			@include clearfix();
			@include container(1100px);
			@media screen and (min-width: $mobile-width){ display: flex; }

			.left{
				@include span(10 of 10 split);
				text-align: center;
				@media screen and (min-width: $mobile-width){ @include span(5 of 10); }

				.title-programs{
					font-size: 2em;
					margin: 0 0 0.5em;
				}
				.text-programs{
					margin: 0 0 1em;
				}
				ul{
					display: inline-block;
					margin:0 auto 1.5em;
					padding: 0;
					list-style: none;

					li.icon{
						display: inline-block;
						@include programs-icons(150px);
					} 	
				}
			}

			.right{
				display: flex;
				flex-direction: column;
				justify-content: center;
				@include span(10 of 10 0);
				@media screen and (min-width: $mobile-width){ @include span(5 of 10 last); }

				img{ margin-left: auto; }
			}
		}
	}


	#about-cameras{
		@include clearfix();
		position: relative;
		padding: 3em 5%;
		background-color: $darkblue2;
		box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
		border-bottom: lighten($darkblue2, 10%) solid 1px;

		.row{
			@include clearfix();
			@include container(1000px);

			#text-cameras{
				text-align: center;
				margin-bottom: 1.5em;
				h1{ margin: 0; color: #f2f2f2; }
				p{ font-size: 1.2em; font-style: italic; margin: 0; color: $gray1; }
			}

			.camera{
				@include span(10 of 10 0);
				margin: 0 auto 2em;
				display: flex;
				flex-wrap: nowrap;
				justify-content: center;
				align-items: center;
				padding: 3em 5%;
				background-color: $teal2;
				border-radius: 15px;
				box-shadow: 3px 3px 10px #000;
				text-align: center;
				
				@media screen and (min-width: 700px){ 
					@include span(4.5 of 10 0); margin-right: 
					span(1 of 10 0); 
					margin-bottom: 0; 
					&:last-child{ margin-right: 0; }
				}

				.left{
					@include span(4 of 10 0);
					display: block;
					margin:0 auto;
					padding: 0;
					list-style: none;

					.icon{
						display: block;
						margin: 0 auto;
						@include about-icons(400px, 500px);
					}

					h2{
						margin: 0;
						color: #f2f2f2;
					}

				}

				.right{
					@include span(6 of 10 0 last);

					ul{
						font-size: 1.25em;
						list-style: none;
						margin: 0;
						padding: 0;
						color: #fff;
						text-align: center;
					}
				}
			}
		}
	}
} //page-about




