.page-about{
	#about-main{
		@include clearfix();
		padding: 3em 5%;

		.row{
			@include clearfix();
			max-width: 1040px;
			margin: 0 auto;
			
			#text-main{
				@include span(5 of 12);
				h1{ font-size: 4em; letter-spacing: -3px; margin: 0 0 0.2em; padding: 0; line-height: 1.2em; }
				p{ margin: 0 0 1em; padding: 0; }
				.intro{
					font-size: 1.2em;
					line-height: 1.35em;
					margin: 0;
					padding: 0;
					color: $gray2;
				}
			}
			#img-main{
				@include span(7 of 12 no-gutters);
			}
		} //.row
	} //#about-main

	#about-site{
		@include clearfix();
		padding: 3em 5%;

		.row{
			@include clearfix();
			max-width: 1000px;
			margin: 0 auto;

			#title-site{
				@include span(12);
				text-align: left;
				@media screen and (min-width: $mobile-width){ @include span(4.8); text-align: right; }
			}

			#text-site{
				@include span(12);	
				text-align: left;
				@media screen and (min-width: $mobile-width){ @include span(4.8); text-align: right; }
			}

			#icon-site{
				@include span(12 split);
				margin: 0;
				padding: 0;
				list-style: none;
				overflow: auto;

				@media screen and (min-width: $mobile-width){ @include span(7.2 no-gutters last); }

				li{
					@include span(4 of 12 0);
					@media screen and (min-width: $tablet-width){ @include span(3 of 12 0); }
					margin-bottom: 1em;

					.icon{
						display: block;
						margin: 0 auto 0.5em;

						@include about-icons(300px);
						@media screen and (min-width: $tablet-width){ @include about-icons(400px); }
					} //icon

					p{
						margin: 0;
						text-align: center;
					}
				}

			}
		} //.row
	} //#about-site

	#about-programs{
		.left{
			@include span(4);

			.icon{
				@include programs-icons(150px);
			}
		}

		.right{
			@include span(8 last);
		}
	}


} //page-about







//MISCELLANEOUS
.miscellaneous{
	@include clearfix();
	margin: 0 calc((-100vw + #{span(12 no-gutters)}) / 2);
	padding: 1.5em 0;
	background-color: $darkblue2;

	.misc-wrapper{
		display: flex;
		flex-wrap: wrap;
		position: relative;
		max-width: 1600px;
		margin: 0 auto;

		.programs,
		.cameras,
		.extralinks{
			display: flex;
			justify-content: center;
			flex: 0 0 100%;
		    padding: 1em 0;
			text-align: center;
			@media screen and (min-width: $tablet-width){ text-align: left; }

			@media screen and (min-width: $mobile-width){ flex: 1 1 33%; }

			.misc-content{
				max-width: 240px;
				padding: 0 1em;
				position: relative;

				.misc-title{ 
					display: inline; 
					position: relative;
					font-size: 1.6em; 
					line-height: 1.15em; 
					font-weight: 700; 
					margin: 0 0 0.5em 1.25em; 
					color: $white1;  
					text-shadow: 3px 3px 2px $black2; 

					@media screen and (min-width: $tablet-width){ display: inline-block;  }

					.misc-icon{ 
						display: inline-block;
						position: absolute;
						left: -1.25em;
						color: darken($green2, 5%);
					}
				}

				.misc-text{ font-size: 0.9em; line-height: 1.25em; margin-bottom: 1em; color: $gray1; }

				ul{
					margin: 0;
					padding: 0;
					color: $white3;
					list-style: none;

					a { color: $white3; text-decoration: none; &:hover{ text-decoration: underline; }}
				} // ul
			} //list-content
		}

		.programs{
			ul{
				@include clearfix();
				display: block;
				max-width: 200px;
				margin: 0 auto;

				li{
					@include span(1 of 3 split);
					padding-bottom: gutters(4);

					.adobe{
						display: block;
						background-image: url('../images/about/adobe-compressed.png');
						background-size: 150px;
						width: 50px;
						height: 50px;

						&.photoshop{ 		background-position: 0 0; }
						&.lightroom{ 		background-position: -50px 0; }
						&.illustrator{ 		background-position: -100px 0; }
						&.premiere{ 		background-position: 0 -50px; }
						&.after-effects{ 	background-position: -50px -50px; }
						&.audition{ 		background-position: -100px -50px; }		
					} //adobe
				} //li
			} //ul
		} //programs

		@media screen and (min-width: $mobile-width){ 
			flex-wrap: nowrap;
			.programs, .cameras, .extralinks{ flex: 1 1 33%;  }
		}
	} //misc-wrapper
} //miscellaneous


