.page-about{
	#about-main{
		@include clearfix();
		padding: 3em 5%;

		.row{
			@include clearfix();
			max-width: 1040px;
			margin: 0 auto;
			
			#text-main{
				@include span(5 of 12);
				h1{ font-size: 4em; letter-spacing: -3px; margin: 0 0 0.2em; padding: 0; line-height: 1.2em; }
				p{ margin: 0 0 1em; padding: 0; }
				.intro{
					font-size: 1.2em;
					line-height: 1.35em;
					margin: 0;
					padding: 0;
					color: $gray2;
				}
			}
			#img-main{
				@include span(7 of 12 no-gutters);
			}
		} //.row
	} //#about-main

	#about-site{
		@include clearfix();
		padding: 3em 5%;

		.row{
			@include clearfix();
			max-width: 600px;
			margin: 0 auto;

			#text-site{
				
			}

			#icon-site{
				margin: 0;
				padding: 0;
				list-style: none;
				overflow: auto;

				li{
					@include span(3 of 12 0);

					p{
						text-align: center;
					}

					.icon{
						display: block;
						background-image: url('../images/about/brian-icons-compressed.png');
						background-repeat: no-repeat;
						background-size: 200px;
						width:50px;
						height:50px;
						margin: 0 auto;

						&.gulp{ 		background-position: 0 0; }
						&.webpack{ 		background-position: 0 -50px; }
						&.wordpress{ 	background-position: 0 -100px; }
						&.sublime{ 		background-position: 0 -150px; }
						&.sass{ 		background-position: -50px 0; }
						&.github{ 		background-position: -50px -50px; }
						&.underscore{ 	background-position: -50px -100px; }
						&.susy{ 		background-position: -100px 0; }
						&.gitbash{ 		background-position: -100px -50px; }
						&.acf{ 			background-position: -100px -100px; }
						&.compass{ 		background-position: -150px 0; }
						&.mamp{ 		background-position: -150px -50px; }
						&.swiper{ 		background-position: -150px -100px; }

						@media screen and (min-width: $mobile-width){ 
							background-size: 400px;
							width:100px; 
							height:100px; 
							
							&.gulp{ 		background-position: 0 0; }
							&.webpack{ 		background-position: 0 -100px; }
							&.wordpress{ 	background-position: 0 -200px; }
							&.sublime{ 		background-position: 0 -300px; }
							&.sass{ 		background-position: -100px 0; }
							&.github{ 		background-position: -100px -100px; }
							&.underscore{ 	background-position: -100px -200px; }
							&.susy{ 		background-position: -200px 0; }
							&.gitbash{ 		background-position: -200px -100px; }
							&.acf{ 			background-position: -200px -200px; }
							&.compass{ 		background-position: -300px 0; }
							&.mamp{ 		background-position: -300px -100px; }
							&.swiper{ 		background-position: -300px -200px; }
						}
					} //icon
				}

			}
		} //.row
	} //#about-site
} //page-about




//WEB SECTION
.about-site{
	margin-bottom: 1em;


	ul.web-icons {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin: 0;
		padding: 0;

		li{
			flex: 0 0 33%;
			margin-bottom: 1em;
			text-align: center;
			list-style: none;

			@media screen and (min-width: $tablet-width){ flex: 0 0 25%; }
			
			.web{
				display: block;
				background-image: url('../images/about/brian-icons-compressed.png');
				background-repeat: no-repeat;
				background-size: 200px;
				width:50px;
				height:50px;
				margin: 0 auto;

				&.web-gulp{ 		background-position: 0 0; }
				&.web-webpack{ 		background-position: 0 -50px; }
				&.web-wordpress{ 	background-position: 0 -100px; }
				&.web-sublime{ 		background-position: 0 -150px; }
				&.web-sass{ 		background-position: -50px 0; }
				&.web-github{ 		background-position: -50px -50px; }
				&.web-underscore{ 	background-position: -50px -100px; }
				&.web-susy{ 		background-position: -100px 0; }
				&.web-gitbash{ 		background-position: -100px -50px; }
				&.web-acf{ 			background-position: -100px -100px; }
				&.web-compass{ 		background-position: -150px 0; }
				&.web-mamp{ 		background-position: -150px -50px; }
				&.web-swiper{ 		background-position: -150px -100px; }

				@media screen and (min-width: $mobile-width){ 
					background-size: 400px;
					width:100px; 
					height:100px; 
					
					&.web-gulp{ 		background-position: 0 0; }
					&.web-webpack{ 		background-position: 0 -100px; }
					&.web-wordpress{ 	background-position: 0 -200px; }
					&.web-sublime{ 		background-position: 0 -300px; }
					&.web-sass{ 		background-position: -100px 0; }
					&.web-github{ 		background-position: -100px -100px; }
					&.web-underscore{ 	background-position: -100px -200px; }
					&.web-susy{ 		background-position: -200px 0; }
					&.web-gitbash{ 		background-position: -200px -100px; }
					&.web-acf{ 			background-position: -200px -200px; }
					&.web-compass{ 		background-position: -300px 0; }
					&.web-mamp{ 		background-position: -300px -100px; }
					&.web-swiper{ 		background-position: -300px -200px; }
				}
			} //web

			.text{
				display: inline-block;
				text-align: center;
			}
		} //li
	} //ul.web-icons
} //web-section


//THUMB ZONE
.thumb-zone{
		display: block;
		position: relative;
		margin-bottom: 1em;

		.thumb-image,
		.thumb-text{
			display: table-cell;
			position: relative;
			vertical-align: middle;
		}

		.thumb-image{ width: 40%; }
		.thumb-text{ width: 60%; }

		.thumb-title{
			font-size: 1.25em;
			@media screen and (min-width: $mobile-width){ font-size: 1.8em; }
		} //thumb-title
} //thumb-zone


//MISCELLANEOUS
.miscellaneous{
	@include clearfix();
	margin: 0 calc((-100vw + #{span(12 no-gutters)}) / 2);
	padding: 1.5em 0;
	background-color: $darkblue2;

	.misc-wrapper{
		display: flex;
		flex-wrap: wrap;
		position: relative;
		max-width: 1600px;
		margin: 0 auto;

		.programs,
		.cameras,
		.extralinks{
			display: flex;
			justify-content: center;
			flex: 0 0 100%;
		    padding: 1em 0;
			text-align: center;
			@media screen and (min-width: $tablet-width){ text-align: left; }

			@media screen and (min-width: $mobile-width){ flex: 1 1 33%; }

			.misc-content{
				max-width: 240px;
				padding: 0 1em;
				position: relative;

				.misc-title{ 
					display: inline; 
					position: relative;
					font-size: 1.6em; 
					line-height: 1.15em; 
					font-weight: 700; 
					margin: 0 0 0.5em 1.25em; 
					color: $white1;  
					text-shadow: 3px 3px 2px $black2; 

					@media screen and (min-width: $tablet-width){ display: inline-block;  }

					.misc-icon{ 
						display: inline-block;
						position: absolute;
						left: -1.25em;
						color: darken($green2, 5%);
					}
				}

				.misc-text{ font-size: 0.9em; line-height: 1.25em; margin-bottom: 1em; color: $gray1; }

				ul{
					margin: 0;
					padding: 0;
					color: $white3;
					list-style: none;

					a { color: $white3; text-decoration: none; &:hover{ text-decoration: underline; }}
				} // ul
			} //list-content
		}

		.programs{
			ul{
				@include clearfix();
				display: block;
				max-width: 200px;
				margin: 0 auto;

				li{
					@include span(1 of 3 split);
					padding-bottom: gutters(4);

					.adobe{
						display: block;
						background-image: url('../images/about/adobe-compressed.png');
						background-size: 150px;
						width: 50px;
						height: 50px;

						&.photoshop{ 		background-position: 0 0; }
						&.lightroom{ 		background-position: -50px 0; }
						&.illustrator{ 		background-position: -100px 0; }
						&.premiere{ 		background-position: 0 -50px; }
						&.after-effects{ 	background-position: -50px -50px; }
						&.audition{ 		background-position: -100px -50px; }		
					} //adobe
				} //li
			} //ul
		} //programs

		@media screen and (min-width: $mobile-width){ 
			flex-wrap: nowrap;
			.programs, .cameras, .extralinks{ flex: 1 1 33%;  }
		}
	} //misc-wrapper
} //miscellaneous


