//============================
// POST NAVIGATION
//============================

.post-navigation {
	.nav-links {
		max-width: 45em;
		margin: 0 auto;
		padding: 0 .4em;

		@media screen and (min-width: $mobile-cutoff) { 
			display: flex;
			justify-content: space-between;
			align-items: stretch;
			padding: 0;
		}

		.nav-previous {
			margin-bottom: 1em;

			@media screen and (min-width: $mobile-cutoff) { 
				padding-bottom: 0;
			}
		}

		.nav-next,
		.nav-previous {
			background-color: $darkblue1;
		}

		.meta-nav {
			display: block;
			color: $gray1;

			@media screen and (min-width: $mobile-cutoff) {
				padding-bottom: 1em;
			}
		}

		.post-title {
			font-size: 1em;
			font-weight: 400;
			color: $white2;
		}

		a:hover .post-title,
		a:focus .post-title {
			text-decoration: underline;
		}
	}
} // .post-navigation


//============================
// PAGE NAVIGATION
//============================

.paging-navigation {
	margin-top: -2em;
	text-align: center;

	ul {
		display: inline-block;
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			display: inline-block;
			margin-bottom: 1em;

			a {
				padding: .3em 1.4em;
			}
		}
	}

	.current {
		padding: .8em 1.1em;
		font-weight: 700;
	}
}

//============================
// MIXED STYLES
//============================

.comment-navigation,
.post-navigation,
.paging-navigation {
	width: 100%;
	padding: 2em 0;
	overflow: hidden;

	@media screen and (min-width: 50em) {
			padding: 2em 3em;
	}

	a {
		display: block;
		width: 100%;
		text-decoration: none;
		padding: 1em;
		color: $gray2;
		border: 1px solid #c3c3c3;

		&:hover,
		&:focus {
			color: #000;
			border-color: #000;
		}
	}
}

@media screen and (min-width: $mobile-cutoff) { 

	.comment-navigation .nav-previous,
	.post-navigation .nav-previous {
		display: flex;
		align-items: stretch;
		float: left;
		width: 48%;
		margin:0;
	}

	.comment-navigation .nav-next,
	.post-navigation .nav-next {
		display: flex;
		align-items: stretch;
		float: right;
		text-align: right;
		width: 48%;
	}
}
