.content-area{
	@include clearfix();
	overflow: hidden;

	.site-main{
		@include container($page-sm);
		@include clearfix();
		margin-top: 1em;
		padding: 0 0.5em;

		@media screen and (min-width: $size-md) { @include container($page-md); margin-top: 2em; }
		@media screen and (min-width: $size-lg) { @include container($page-lg); padding: 0; }
		@media screen and (min-width: $size-xl) { @include container($page-xl); padding: 0; }
	} //site-main
} //content-area


.featured-video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;

	& iframe,
	& object,
	& embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

#loader{
	display: block;
	width: 31.25%;
	height: 360px;
}
