#featured-posts{
	display: block;
	width: 100%;
	height: 100%;
	background-color: $black1;
	
	.swiper-container{
		display: block;
	    position: relative;
	    padding-bottom: 56.25%;
	    background-color: $black1;
	    @media screen and (min-width:$mobile-width){ padding-bottom: 40%; }
	    @media screen and (min-width:1920px){ max-width: 1920px; }
			
	    .swiper-wrapper{
	    	position: absolute;
		    z-index: 1;
		    top: 0;
		    right: 0;
		    bottom: 0;
		    left: 0;
	    
			.swiper-link{
				position: absolute;
				width: 80%;
				padding-left: 5%;
				left: 0;
				bottom: 15%;
				z-index: 5;
				@media screen and (min-width:$mobile-width){ width: 50%; }

				.swiper-tag{
					font-size: 0.9em;
			    	font-weight: 700;
			    	@include post-type-color();
			    	@media screen and (min-width:$desktop-width){ font-size: 1em; }
			    }

			    .swiper-title{
			    	display: block;
			    	a{
			    		display: inline-block;
			    		font-size: 1.75em;
			    		font-weight: 700;
			    		color: #f2f2f2;
			    		text-decoration: none;
			    		text-shadow: 3px 3px 3px #000;
			    		&:hover{ text-decoration: underline; }
					    @media screen and (min-width:$mobile-width){ font-size: 2.25em; }
					    @media screen and (min-width:$desktop-width){ font-size: 3em; }
			    	}
			    }

			    .swiper-excerpt{
			    	display: none;
				    	a{
				    		display: inline-block;
				    		font-size: 0.9em;
				    		color: #c2c2c2;
				    		text-decoration: none;
				    		text-shadow: 3px 3px 3px #000;
				    		&:hover{ text-decoration: underline; }
				    		@media screen and (min-width:$desktop-width){ font-size: 1em; }
					    }
		    		@media screen and (min-width:$mobile-width){ display: block; }
				}

			} /*swiper-link*/

		    .swiper-vignette{
	    	    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,$black1),color-stop(65%,transparent));
			    background-image: -webkit-linear-gradient(left,$black1 0,transparent 65%);
			    background-image: -webkit-linear-gradient(left,$black1 0,transparent 65%);
			    background-image: linear-gradient(to right,$black1 0,transparent 65%);
			    width: 71.2%;
			    height: 100%;
			    position: absolute;
			    top: 0;
			    z-index: 2;

			    @media screen and (min-width:$mobile-width){
			    	background-image: -webkit-gradient(linear,left top,right top,color-stop(0,$black1),color-stop(33%,transparent));
				    background-image: -webkit-linear-gradient(left,$black1 0,transparent 40%);
				    background-image: -webkit-linear-gradient(left,$black1 0,transparent 40%);
				    background-image: linear-gradient(to right,$black1 0,transparent 40%);
			    	width: 71.2%;
			    	right: 0;
			    }
		    }

			.swiper-image{
				position: absolute;
			    height: 100%;
			    right: 0;
			    top: 0;
			    z-index: 1;
			    @media screen and (min-width:$mobile-width){
			    	height: 100%;
			    }
			}
		} /*swiper-wrapper*/
	} /*swiper-container*/
} /*#featured-posts*/


#post-content-switcher{
	@include clearfix();
	position: relative;
	margin-bottom: 1em;

	#post-content-anchor{
		position: relative;
		top: -$mobileHeight;
		@media screen and (min-width: $mobile-width) { top: -$tabletHeight; }
		@media screen and (min-width: $tablet-width) { top: 0; }
	}

	.post-content-list{
		@include span(12);
		margin: 0;
		padding: 0;
		list-style: none;
		border-bottom: 1px solid #eee;

		.post-content-item{
			@include span(3 no-gutters);
			max-width: 160px;
			display: inline-block;
			text-align: center;
			
			.post-content-link{
				display: block;
				font-size: 1.1em;
				height: 3.5em;
				line-height: 3.5em;
				color: #a0a0a0;
				text-decoration: none;

				@media screen and (min-width: $mobile-width) { font-size: 1.15em; }
				@media screen and (min-width: $tablet-width) { font-size: 1.25em; }
				
				&.border-post:hover, &.border-post.current { border-bottom: 5px solid $color_post; color: #0f0f0f; }
				&.border-projects:hover, &.border-projects.current { border-bottom: 5px solid $color_projects; color: #0f0f0f; }
				&.border-photography:hover, &.border-photography.current { border-bottom: 5px solid $color_photography; color: #0f0f0f; }
				&.border-media:hover, &.border-media.current { border-bottom: 5px solid $color_media; color: #0f0f0f; }

			} /*post-content-link*/

			&.active{
				border-bottom: 5px solid #000;
			}
		} /*post-content-item*/
	} /*post-content-list*/
} /*post-content-switcher*/


#article-index{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
    overflow: hidden;

	article{
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 100%;
		        flex: 0 0 100%;
		max-width: 300px;
		margin-right: auto;
		margin-left: auto;
		border: 1px solid #e0e0e0;
		border-radius: 2%;
		overflow: hidden;

		@media screen and (min-width: $mobile-width) and (max-width: $tablet-width) { -webkit-box-flex: 0; -ms-flex: 0 0 48.62%; flex: 0 0 48.62%; max-width: 48.62%; margin-right: 2.76%; margin-left: 0; &:nth-child(2n){ margin-right: 0; } }
		@media screen and (min-width: $tablet-width) and (max-width: $desktop-width) { -webkit-box-flex: 0; -ms-flex: 0 0 31.25%; flex: 0 0 31.25%; max-width: 31.25%; margin-right: 3.125%; margin-left: 0; &:nth-child(3n){ margin-right: 0; } }
		@media screen and (min-width: $desktop-width) { -webkit-box-flex: 0; -ms-flex: 0 0 23.26%; flex: 0 0 23.26%; max-width: 23.26%; margin-right: 2.32%; margin-left: 0; &:nth-child(4n){ margin-right: 0; } }

		.featured-image{ 
			border-bottom: 1px solid #e0e0e0; 
			a{
				display:block;
				img{ margin: 0 auto; }
				&:hover{ opacity: 0.8; }
			}
		} /*featured-image*/

		.article-title{ 
			display: block;
			padding: 0 0.75em;
			margin: 0.5em 0;

			a{ 
				font-size: 1.15em;
				font-weight: 700;
				color: $color_link_black; 
				text-decoration: none; 
				&:hover{ text-decoration: underline; }
			}
		} /*article-text*/

		.article-text{ 
			display: block;
			padding: 0 0.75em;
			margin-bottom: 0.5em;
			overflow: hidden;

			a{ 
				display: inline-block;
				font-size: 0.9em;
				color: $color_link_gray; 
				text-decoration: none; 
				&:hover{ text-decoration: underline; }
			}
		} /*article-text*/

		.article-footer{
			padding-right: 0.5em;
			margin-bottom: 0.5em;

			.posted-on,
			.cat-links{
				font-size: 0.8em;
				display: block;
				text-align: right;
			}

			.posted-on{
				color: $gray2;
			}

			.cat-links{
				a{
					font-weight: 700;
					text-transform: uppercase;
					text-decoration: none;
					&:hover{ text-decoration: underline; }
				}

				@include post-link-color();
			}
		} /*article-footer*/
	} /*article*/
} /*article-index*/